digraph G {
{{#machines}}
    subgraph cluster{{num}} {
    label = <<B>{{name}}</B>>;
    {{#vertices}}
        {{id}} [ label="{{label}}" {{#init}}, style = invis{{/init}} ];
    {{/vertices}}
    {{#virtuals}}
        virtual{{counter}} [ shape = point ];
    {{/virtuals}}
    }
{{/machines}}
{{#edges}}
    {{#linkedEdge}}
        {{src}} -> virtual{{counter}} [ label="{{edge}}" ];
        virtual{{counter}} -> {{dst}};
        virtual{{counter}} -> {{machine}} [ label="{{linkedEdge}}" ];
    {{/linkedEdge}}
    {{^linkedEdge}}
        {{src}} -> {{dst}} [ label="{{edge}}" ];
    {{/linkedEdge}}
{{/edges}}
}