digraph G {
    bgcolor="transparent";
{{#machines}}
    subgraph cluster{{num}} {
    label = <<B>{{name}}</B>>;
    {{#vertices}}
        {{id}} [ label="{{label}}" ];
    {{/vertices}}
    {{#virtuals}}
        virtual{{counter}} [ shape = point ];
    {{/virtuals}}
    }
{{/machines}}
{{#edges}}
    {{#linkedEdge}}
        {{src}} -> virtual{{counter}} [ style = "{{style}}" label="{{edge}}" {{#visited}}, color = red{{/visited}} ];
        virtual{{counter}} -> {{dst}} [ style = "{{style}}" {{#visited}}, color = red{{/visited}} ];
        virtual{{counter}} -> {{machine}} [ label="{{linkedEdge}}" {{#linkedVisited}}, color = red{{/linkedVisited}} ];
    {{/linkedEdge}}
    {{^linkedEdge}}
        {{src}} -> {{dst}} [ label="{{edge}}", style = "{{style}}" {{#visited}}, color = red{{/visited}} ];
    {{/linkedEdge}}
{{/edges}}
}